# trigger ci run

name: Deploy Serverless Data Pipeline

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::339712988423:role/GitHubActions-SAM-Deploy-Role
          aws-region: us-east-1

      - name: Setup AWS SAM
        uses: aws-actions/setup-sam@v2

      - name: SAM Validate
        run: sam validate

      - name: SAM Build
        run: sam build

      - name: SAM Deploy
        run: |
          sam deploy \
            --stack-name serverless-data-pipeline \
            --capabilities CAPABILITY_IAM \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset
